* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Georgia Pro";
  src: url("../fonts/GeorgiaPro-Bold.ttf");
}

@font-face {
  font-family: "EBCorp-Regular";
  src: url("../fonts/EBCorp-Regular.ttf");
}

@font-face {
  font-family: "EBCorp-Bold";
  src: url("../fonts/EBCorp-Bold.ttf");
}

@font-face {
  font-family: "EBCorp-Medium";
  src: url("../fonts/EBCorp-Medium.ttf");
}

.EBCorp-Medium {
  font-family: 'EBCorp-Medium', sans-serif;
}

html {
  display: flex;
  justify-content: center;
}

body {
  font-family: "EBCorp-Regular", sans-serif;
  max-width: 1200px;
  padding: 45px 100px;
  box-shadow: 0 0 18px 0 rgba(34, 60, 80, 0.2);
}

hr {
  width: 500px;
  margin: 30px auto;
}

header {
  width: 100%;
}

a {
  width: fit-content;
  color: black;
  text-decoration: none;
}

.title h1 {
  font-family: "Georgia Pro", sans-serif;
  text-shadow: -2px -1px 0 rgb(236, 115, 115), 2px 1px 0 rgb(29, 23, 20);
  color: white;
  font-size: 50px;
  line-height: 40px;
}

.filters {
  position: absolute;
  height: 500px;
  width: 250px;
  left: 160px;
  visibility: hidden;
  background-color: lavenderblush;
  z-index: 1;
  padding: 40px 0;
}

.filters .close {
  top: 10px;
}

.filters > select {
  width: 200px;
  margin: 10px;
}

.filters p {
  margin: 10px 20px;
  text-align: end;
}

#openFiltersBtn {
  left: 160px;
  position: absolute;
  margin: 10px;
  top: 250px;
}

.statistics h1 {
  margin: 20px;
}

.favs h1 {
  margin: 20px;
}

.add-form h1 {
  margin: 20px auto;
  width: fit-content;
}

.title h1:hover {
  text-shadow: -4px -1px 0 rgb(236, 115, 115), 4px 1px 0 rgb(29, 23, 20);
  color: rgb(185, 185, 185);
}

header a {
  font-family: "EBCorp-Medium", sans-serif;
  color: rgb(236, 115, 115);
}

nav {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  width: 50%;
}

nav a {
  text-decoration: none;
  font-family: "EBCorp-Medium", sans-serif;
}

#info-popup .pink-button {
  height: fit-content;
}

footer nav a {
  color: rgb(55, 185, 192);
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px 0;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.search button {
  width: 90px;
  font-size: 15px;
}

.search input {
  color: rgb(77, 73, 73);
  width: 190px;
  height: 40px;
  border: 1px solid  rgb(133, 130, 130);
  background-color: white;
  padding-left: 10px;
}

.pink-button {
  color: rgb(236, 115, 115);
  border: 1px solid rgb(236, 115, 115);
  background-color: white;
  height: 40px;
  font-family: "EBCorp-Bold", sans-serif;
  font-size: 20px;
  width: 167px;
  text-align: center;
  padding: 7px 0;
}

.pink-button a {
  color: rgb(236, 115, 115);
  font-family: "EBCorp-Bold", sans-serif;
  text-decoration: none;
}

.add-form a {
  text-decoration: none;
  font-size: 30px;
}

.pink-button:hover {
  background-color: rgb(236, 115, 115);
  color: white;
}

.options {
  display: grid;
  grid-template-columns: 1fr 167px;
  padding: 20px 0;
}

header nav {
  color: rgb(236, 115, 115);
}

nav a:hover {
  color: rgb(165, 11, 44);
}

.top header {
  text-align: center;
  padding: 20px;
}

.filters {
  text-align: start;
}

figcaption p {
  font-family: "EBCorp-Medium", sans-serif;
}

footer p {
  margin: 10px 0;
}

.filters label {
  width: fit-content;
}

.filters input {
  width: 40px;
}

.line {
  border-right: 1px dotted  rgb(133, 130, 130);
  padding-right: 30px;
  margin-right: 0;
}

.top-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  justify-items: center;
}

.image-frame {
  width: 115px;
  height: 115px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid  rgb(236, 115, 115);
  margin-bottom: 15px;
}

.image-frame img {
  width: 100%;
  height: auto;
}

.star::after {
  content: "⭐️";
  position: absolute;
  right: 20px;
}

.image-frame-circle img {
  width: 300px;
}

figure:hover > .image-frame {
  border-color: rgb(165, 11, 44);
}

figure:hover > .image-frame > img {
  transform: scale(1.2);
}

.top-list figure {
  padding: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.top-list figcaption p {
  word-spacing: 100vw;
}

.country {
  font-family: "EBCorp-Regular", sans-serif;
  font-size: 12px;
  padding: 10px;
}

th,
tr {
  height: 30px;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: rgb(248, 236, 245);
}

thead {
  border-bottom: 1px solid  black;
}

table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
}

th:first-child,
td:first-child {
  text-align: left;
  padding-left: 10px;
}

th:hover {
  border-bottom: 3px solid black;
  background-color: rgb(238, 238, 238);
}

.statistics nav {
  width: 100px;
  margin: 10px;
}

.statistics nav a {
  text-decoration: none;
  color: rgb(55, 185, 192);
  font-size: 15px;
}

footer nav a:hover {
  color: rgb(13, 117, 122);
}

section {
  text-align: center;
}

.roll {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-arrow {
  transform: rotate(135deg);
  position: relative;
  left: -50px;
}

.right-arrow {
  transform: rotate(-45deg);
  position: relative;
  right: -50px;
}

.arrow {
  border-top: 10px solid transparent;
  border-right: 10px solid gray;
  border-bottom: 10px solid gray;
  border-left: 10px solid transparent;
  display: inline-block;
  padding: 3px;
  width: 60px;
  height: 60px;
}

.arrow:hover {
  border-right: 10px solid rgb(0, 0, 0);
  border-bottom: 10px solid rgb(0, 0, 0);
  border-left: 10px solid transparent;
}

.pink-button:hover > a {
  text-decoration: none;
  font-family: "EBCorp-Medium", sans-serif;
  color: white;
}

/*********************** Add Teacher form *******************/
.add-form {
  transform: translateX(-50%);
  left: 50%;
  width: 410px;
  height: 750px;
  padding: 30px 80px;
  border: 1px solid black;
  position: fixed;
  top: 0;
}

.close {
  position: absolute;
  top: 30px;
  right: 20px;
  font-size: 40px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.popup {
  visibility: hidden;
  opacity: 1;
  position: fixed;
  z-index: 99;
  background-color: white;
  backdrop-filter: blur(2px);
}

.add-form input,
select {
  height: 40px;
  border: 1px solid gray;
  width: 250px;
  margin-bottom: 10px;
  padding: 10px;
}

.add-form select {
  width: 250px;
  height: 40px;
  margin-bottom: 10px;
}

.add-form p {
  margin-bottom: 10px;
}

.add-form button {
  width: 100%;
  margin: 20px 0;
  height: 50px;
}

.gender-check input {
  width: 15px;
  height: auto;
  margin: 0 5px;
}

.gender-check {
  float: right;
}

.colorPick {
  margin: 10px 0;
}

.colorPick input {
  float: right;
  width: 40px;
  height: 20px;
  padding: 0;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  background-size: cover;
}

.teacher-info {
  width: 950px;
  height: 600px;
  padding: 30px 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.image-frame-circle {
  width: 300px;
  height: 300px;
  overflow: hidden;
  float: left;
  margin-right: 30px;
}

.teacher-info header {
  align-self: center;
  font-size: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.teacher-info span {
  font-size: 40px;
  margin-bottom: 20px;
}

.teacher-info figure {
  display: block;
  height: 300px;
}

.teacher-info .info {
  height: 120px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 30px;
  text-align: start;
}

.teacher-info > p {
  margin: 30px 0 20px 0;
}

.blue {
  color: rgb(18, 149, 201);
}

.underlined {
  border-bottom: 1px dashed rgb(18, 149, 201);
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .top-list {
    display: flex;
    flex-wrap: wrap;
  }

  .image-frame-circle {
    width: 200px;
    height: 200px;
  }

  .teacher-info {
    height: 570px;
    width: 550px;
  }

  .teacher-info .info {
    justify-content: initial;
  }

  .teacher-info figure {
    height: 200px;
  }

  .roll {
    flex-wrap: wrap;
  }

  .carousel {
    flex-wrap: nowrap;
  }

  .options nav {
    width: 100%;
    margin-bottom: 20px;
  }

  .options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    justify-content: space-evenly;
  }

  .pink-button {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .image-frame-circle img {
    width: 200px;
  }
}

/* Import fonts */
@import url('../fonts/Roboto.css');

/* Reset and normalize */
@import url('./normalize.css');
